[submodule "artifacts/GEM5"]
	path = artifacts/GEM5
	url = https://github.com/OpenXiangShan/GEM5
[submodule "artifacts/qemu_rvvplugin"]
	path = artifacts/qemu_rvvplugin
	url = https://github.com/YiZhi-W813/qemu_rvvplugin
[submodule "artifacts/CPU2006LiteWrapper"]
	path = artifacts/CPU2006LiteWrapper
	url = https://github.com/OpenXiangShan/CPU2006LiteWrapper
[submodule "artifacts/riscv-gnu-toolchain"]
	path = artifacts/riscv-gnu-toolchain
	url = https://github.com/riscv-collab/riscv-gnu-toolchain
[submodule "artifacts/checkpoint_scripts"]
	path = artifacts/checkpoint_scripts
	url = https://github.com/xyyy1420/checkpoint_scripts
